* {
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 1px;
}

body {
    background-image: url(../images/tapeta.png);
}

h1 {
    font-family: Amatic;
    font-size: 60px;
}

img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

#page {
    width: 400px;
    margin: 0 auto;
    background-color: snow;
    padding: 4px;
    border-radius: 20px;

}

a {
    color: darkslategrey;
    text-decoration: none;
    font-family: Amatic;
    font-size: 30px;

}

a:hover {
    color: dodgerblue;
}

.social {
    text-align: center;
}

.menu li {
    display: inline;
    font-family: Amatic;
    font-size: 30px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 6px;

}

.menu {
    border: dotted lightskyblue;
}

@font-face {
    font-family: Amatic;
    src: url("../font/amatic/Amatic-Bold.ttf");
}

@media (max-width: 576px) {
    #page {
        width: 100%;
    }

    #page img {
        width: 100%;
    }

    * {
        margin: 0;
        padding: 6px;
    }
}




